@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #243642;
    --color-primary: #387478;
    --color-secondary: #629584;

    --color-text-primary: #e2f1e7;
    --color-text-secondary: #ecdfcc;
  }
}

@layer components {
  .box-style {
    @apply bg-secondary text-primary rounded-xl text-xl p-4 w-[25rem];
  }
}
