@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #e4e0e1;
    --color-primary: #ab886d;
    --color-secondary: #d6c0b3;

    --color-text-primary: #493628;
    --color-text-secondary: #e4e0e1;
  }
}

@layer components {
  .box-style {
    @apply bg-secondary text-primary rounded-xl text-xl p-4 min-w-[83%];
  }
}
